
@font-face {
  font-family: "TTCommons";
  src: url('~/assets/fonts/TTCommons-Medium.woff2'),
  url('~/assets/fonts/TTCommons-Medium.woff');
  font-weight: 500;
  font-display: block;
}
@font-face {
  font-family: "TTCommons";
  src: url('~/assets/fonts/TTCommons-Regular.woff2'),
  url('~/assets/fonts/TTCommons-Regular.woff');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: "TTCommons";
  src: url('~/assets/fonts/TTCommons-Bold.woff2'),
  url('~/assets/fonts/TTCommons-Bold.woff');
  font-weight: 700;
  font-display: block;
}
